<td><%= client %></td>
<td><%= name %></td>
<td><%= body %></td>
<td><%= number %></td>
<td>
	<button type="button" class="btn btn-default" style="background-color:#<%= priority_color %>">
		<%= priority %>
	</button>
</td>
<td>
	<button type="button" class="btn btn-default" style="background-color:#<%= category_color %>">
		<%= category %>
	</button>
</td>
<td><%= comments %></td>
<td><%= state %></td>